.DS_Storee
.DS_Store
.idea/
__pycache__/
input/data/
# 데이터 디렉토리 및 이미지 데이터 무시
data/train/
data/test/
data.tar.gz
meta.csv
sample_submission.csv
train.csv
# output/

# 개인 작업 중 추가되는 파일 무시
*.yml
# *.csv
*.pth
.env
augraphy_cache
